
rawData/*
src1/.idea/*
src1/venv2/*
parsedData/alldata(copy).txt
parsedData/alldata(redditNativeAndTofelNon.txt
parsedData/alldata(redditOnly).txt
parsedData/functionWords(291).txt
src1/scrap_book.py
