
rawData/*
src1/.idea/*
src1/venv2/*
parsedData/alldata(copy).txt
parsedData/alldata(redditNativeAndTofelNon.txt
parsedData/alldata(redditOnly).txt
parsedData/functionWords(291).txt
src1/scrap_book.py
misc/~$t_with_prec_rec_fscore.docx
misc/~$lad_notes.docx
misc/~WRL0003.tmp
src1/__pycache__/main.cpython-36.pyc
